<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title> Change Password </title>
	</head>
	<body>
		<h1> Change Password </h1>
		<form id="change-password-form">
			<input type="password" id="password" placeholder="New Password"/>
			<input type="password" id="password_confirm" placeholder="Confirm New Password"/>
			<input type="submit" value="Submit Form"/>
		</form>
		
	<script>
		const form = document.getElementById('change-password-form')
		form.addEventListener('submit', changePassword)

		async function changePassword(event){
			event.preventDefault()
			const password = document.getElementById('password').value
			const password_confirm = document.getElementById('password_confirm').value

			const result = await fetch('/api/change-password', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					newpassword: password,
					newpassword_confirm: password_confirm,
					token: localStorage.getItem('token')
				})
			}).then((res) => res.json())
		
			if(result.status === 'ok'){
				alert("Success")
				document.location.href  = '/account'
			}
			else{
				alert(result.error)
			}
		}


	</script>
	</body>
</html>

