.heading{
	border-top-left-radius: 20px;
	overflow:hidden;
	border-top-right-radius: 20px;
	text-align: center;
	border-bottom: 1px solid;
	padding: 10px;
	background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252,1) 100%);
}

.journal-container{
	justify-content: center;
	width:40%;
	display: block;
	position: absolute;
	top: 25%;
	background-color: #111529;
	z-index: 100;
 	margin-bottom:10px;
	border-radius: 25px;
	border: solid;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}

.journal-row{
	display: grid;
	text-align: center;
	grid-template-columns: repeat(8, 1fr);
	background-color: #403e37;
	border-top: 10vh;
	border-bottom: 1px solid;
}

.journal-row-2{
	display: grid;
	text-align: center;
	grid-template-columns: repeat(8, 1fr);
	border-top: 10vh;
	border-bottom: 1px solid;
}

.journal-row > span{
	display: flex;
	padding:20px;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
}

.journal-row-2 > span{
	display: flex;
	padding:20px;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
}

@media screen and (max-width: 1400px){
	.journal-container{
		justify-content: center;
		margin-top: 10%;
		display: block;
		position: absolute;
		width:80%;
		z-index: 0;
		background-color: #111529;
		border: solid;
		border-bottom-left-radius:25px;
		border-bottom-right-radius:25px;
	}
	.journal-row{
		display: grid;
		text-align: center;
		grid-template-columns: repeat(8, 1fr);
		background-color: #403e37;
		border-top: 10vh;
		border-bottom: 1px solid;
	}

	.journal-row-2{
		display: grid;
		text-align: center;
		grid-template-columns: repeat(8, 1fr);
		border-top: 10vh;
		border-bottom: 1px solid;
	}
	.journal-row > span{
		display: flex;
		padding:10px;
		margin: 0 auto;
		text-align: center;
		font-size: 10px;
	}

	.journal-row-2 > span{
		display: flex;
		padding:10px;
		margin: 0 auto;
		text-align: center;
		font-size: 10px;
	}
}
