.record-heading{
	border-top-left-radius: 20px;
	overflow:hidden;
	border-top-right-radius: 20px;
	text-align: center;
	border-bottom: 1px solid;
	background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252,1) 100%);
}

.record-container{
	justify-content: center;
	width:50%;
	margin-top:100px;
	text-align: center;
	background-color: #111529;
	border-style: hidden;
	border-radius: 25px;
}

.record-content{
	padding: 10px;
	border: solid;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; 
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 1400px){
	.record-container{
		justify-content: center;
		width:80%;
		margin-top:100px;
		text-align: center;
		background-color: #111529;
		border-style: hidden;
		border-radius: 25px;
	}

	.record-content{
		padding: 10px;
		border: solid;
		border-bottom-left-radius:25px;
		border-bottom-right-radius:25px;
	}
}
